AddHandler application/x-httpd-php .inc
RewriteEngine On
RewriteCond %{REQUEST_URI} !^/rest/
RewriteCond %{REQUEST_URI} !^/portal/css
RewriteCond %{REQUEST_URI} !^/portal/img
RewriteCond %{REQUEST_URI} !^/portal/js
RewriteCond %{REQUEST_URI} !^/portal/router.php
RewriteCond %{REQUEST_URI} !^/docs/
RewriteRule ^ /portal/router.php
