input {
    outline: none;
}
div#outer {
    margin-top:60px;
    margin-bottom:120px;
}
div#outer img.captcha {
    display: inline-block;
    vertical-align: middle;
}
div#outer input.captcha_input {
    display: inline-block;
    vertical-align: middle;
    border:1px solid gray;
    height:30px;
    width:36px;
    font-size: 18px;
    text-align:center;
}
div#sign {
    margin: auto;
    width: 500px;
    background-color: white;
    padding:30px;
    padding-bottom:40px;
}
div#sign .error {
    color:red;
    padding-bottom:10px;
}
div#sign h4 {
    text-align: center;
}
div#sign form {
    margin: auto;
    width:100%;
}
div#sign input.inputbox {
    display:block;
    width:100%;
    padding:10px;
    margin-top:20px;
    border: 1px solid #dce0e0;
}
div#sign div#bottom_div {
    margin-top:20px;
}
div#sign input#remember {
    margin-right:3px;
}
div#sign input.short_btn {
    float:right;
    background-color:#ffa64d;
    border: 0;
    color:white;
    margin-right:0px;
    padding-top:10px;
    padding-bottom:10px;
    min-width: 160px;
    font-weight: bold;
}
div#sign input.short_btn:active {
    background-color:#E89746    ;
}
div#sign input.long_btn {
    background-color:#ffa64d;
    border: 0;
    color:white;
    margin-right:0px;
    padding-top:10px;
    padding-bottom:10px;
    font-weight: bold;
    width: 100%;
    margin-top:30px;
}
div#sign input.long_btn:active {
    background-color:#E89746    ;
}
div#sign div#forget_div {
    margin-top:50px;
    text-align: center;
    font-size:13px;
}
div#sign span#no_robot {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}