body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#header_login {
    margin-top: 5%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
footer {
    background: #242729;
    clear: both;
    padding-top: 20px;
}
footer div#footer {
    width: 1045px;
    padding: 15px;
    margin: 0 auto;
    box-sizing: content-box;
    display: block;
    color: white;
}
footer div#footer-main {
    text-align: left;
    display: block;
}
footer div#footer-main a {
    color: white;
}
footer div#footer-main a:hover {
    color: #bbb;
}
footer h2 {
    font-size: 16px;
    line-height: 1.1;
    text-rendering: optimizelegibility;
}
footer ul {
    list-style:none;
    padding-left: 2px;
}
footer hr {
    border: 0;
    border-top: 1px solid;
    border-color: rgba(255,255,255,0.2);
}
footer div#footer-bottom {
    margin-top: 40px;

    text-align: center;
}