body {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.43;
    color: #484848;
}
div#body {
    min-height:400px;
}
#header_login {
    margin-top: 5%;
}
.theme {
    background-color: #ffa64d;
}
.width {
    margin: 0 auto;
    max-width: 1020px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
header {
    height: 60px;
}
header div#logo {
    height: 60px;
    float: left;
    display: flex;
    align-items: center;  
    color: white;  
}
header div#right {
    height: 60px;
    float: right;
    display: flex;
    align-items: center;
}
header div#right button {
    margin:10px;
}
header button {
    min-width: 80px;
    min-height: 36px;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
}
header button:focus {
  outline:none !important;
}
header button#singin {
    color: #234766;
    background-image: -webkit-linear-gradient(270deg, rgba(255,255,255,0) 60%, #fff),-webkit-linear-gradient(20deg, #e0f1ff 32%, #fffae3);
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, #fff),linear-gradient(70deg, #e0f1ff 32%, #fffae3);
}
header button#singup {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    background-color: #60b044;
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
}
footer {
    background: #242729;
    clear: both;
    padding-top: 20px;
}
footer div#footer {
    padding: 15px;
    box-sizing: content-box;
    display: block;
    color: white;
}
footer div#footer-main {
    text-align: left;
    display: block;
}
footer div#footer-main a {
    color: white;
}
footer div#footer-main a:hover {
    color: #bbb;
}
footer h2 {
    font-size: 16px;
    line-height: 1.1;
    text-rendering: optimizelegibility;
}
footer ul {
    list-style:none;
    padding-left: 2px;
}
footer hr {
    border: 0;
    border-top: 1px solid;
    border-color: rgba(255,255,255,0.2);
}
footer div#footer-bottom {
    margin-top: 40px;

    text-align: center;
}