#header_login {
    margin-top: 5%;
}
footer {
    background: #242729;
    clear: both;
    padding-top: 20px;
}
footer div#footer {
    width: 1045px;
    padding: 15px;
    margin: 0 auto;
    box-sizing: content-box;
    display: block;
    color: white;
}
footer div#footer-main {
    text-align: left;
}
footer div#footer-bottom {
    text-align: center;
}