#oval_top {
	width: 300px;
	height: 40px;
	margin-top:-40px;
	margin-left:460px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-top-left-radius: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-top-right-radius: 20px;
	border-top-right-radius: 20px;
	background-color: #ffca59;
	padding-top:12px;
}
#oval_top label {
	height: 21px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #333;
	padding-left:20px;
}
.oval_option {
	margin-bottom:20px;
	width: 110px;
	height: 110px;
	-webkit-border-radius: 55px;
	-moz-border-radius: 55px;
	border-radius: 55px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.23);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: white;
}
.oval_text {
	width: 71px;
	height: 42px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: center;
	color: #9b9b9b;
	cursor: pointer;
}
#package_div {
	border: solid 3px #ffca59;
}
#travelling_div {
	border: solid 3px #11859e;
}
.oval_content {
	display:none;
	width:760px;
	min-height:300px;
	-webkit-border-top-left-radius: 6px;
	-moz-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
	background-color: #fff;
}
.oval_btns {
	width:160px;float:left;margin-top:50px;
}
.oval_selects {
	margin-top:50px;
	float:left;
}
table {
	display:table;
	margin:20px;
}
tr {
	display:table-row;
}
td {
	display:table-cell;
	padding: 5px;
}
td label {
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #666;
	margin: 0 auto;
}
.elem_t {
	display:none;
}
label.droplist {
	font-weight: normal;
    display: flex;
    align-items: center;
    width:200px;
    height:30px;
    background-color:white;
	border: solid 1px #ddd;
	padding-left:10px;
	color:#aaa;
}
input {
	height:30px;
}
input.date_picker {
	width:100px;
	padding-left:8px;
}
button.oval_submit {
	width: 191px;
	height: 40px;
	border-radius: 3px;
	background-color: #ffca59;
	outline:0;
}
div#search_head {
	padding:10px;
	background-color: #eee;
}
div#search_head span {
	padding-left:10px;
	padding-right:10px;
	font-weight:bold;
}
div#search_head span.edit {
	float:right;
	padding-right:20px;
	color: #12859d;
	cursor: pointer;
}div#search_head span.edit:hover {
	text-decoration: underline;
}