<?php
$evn = 'local';

$base_url = 'local.airlol.com:8080';

$page_size = 20;

$locales = array('en', 'zh');

// 
$db_host = '127.0.0.1';
$db_user = 'root';
$db_pass = 'Langara2';
$db_sche = 'airlol';

//
$log_level = 5;
$log_file = '/var/log/airlol/application.log';
$database_log = '/var/log/airlol/database.log';

//
$db_cache_on = 1;
$db_cache_time = 900;
$db_cache_servers = array('127.0.0.1' => '11211');

//
$cache_time = 900;
$cache_servers = array('127.0.0.1' => '11211');

//
$sendgrid_apikey = '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';
$sendgrid_signup = '43d23064-1421-4afc-a568-28dd097e0109';
$sendgrid_forget = '55432e96-c852-4901-ad9f-895546e8d003';


// testing stub data
$test_search_goods = array(
	array (
		'user' => array (
			'name' => 'Joyce 1',
			'rating' => array(
				'value' => 4.5,
				'total' => 12
			),
			'join_year' => 2017,
			'join_month' => 1,
			'response_time' => '1 day'
		),
		'good' => array (
			'id' => 123,
			'weight' => 2,
			'weight_unit' => 'lb',
			'items' => 'Weman\'s Coat, Nail Polish, Cups',
			'value' => '$235CAD',
			'before' => '2017-05-30'
		)
	),
	array (
		'user' => array (
			'name' => 'Joyce 2',
			'rating' => array(
				'value' => 5,
				'total' => 2
			),
			'join_year' => 2018,
			'join_month' => 2,
			'response_time' => '1 day'
		),
		'good' => array (
			'id' => 1223,
			'weight' => 21,
			'weight_unit' => 'lb',
			'items' => 'Weman\'s Nail Polish, Cups',
			'value' => '$23CAD',
			'before' => '2018-05-30'
		)
	)
);

$test_search_trips = array(
	array (
		'user' => array(
			'name' => 'Joyce 1',
			'rating' => array(
				'value' => 4.5,
				'total' => 12
			),
			'join_year' => 2017,
			'join_month' => 1,
			'response_time' => '1 day'
		),
		'trip' => array(
			'id' => 123,
			'trip_year' => 2017,
			'trip_month' => 5,
			'trip_day' => 21,
			'asking_price' => 40,
			'asking_currency' => 'CAD',
			'weight' => 10,
			'unit' => 'lb',
			'whole_luggage' => true
		)
	),
	array (
		'user' => array(
			'name' => 'Joyce 2',
			'rating' => array(
				'value' => 5,
				'total' => 2
			),
			'join_year' => 2018,
			'join_month' => 1,
			'response_time' => '2 day'
		),
		'trip' => array(
			'id' => 12123,
			'trip_year' => 2018,
			'trip_month' => 5,
			'trip_day' => 21,
			'asking_price' => 40,
			'asking_currency' => 'CAD',
			'weight' => 8,
			'unit' => 'lb',
			'whole_luggage' => true
		)
	)
);
?>