<?php

$base_url = 'local.airlol.com:8080';

//
$autoload_dirs = array( '../util',
                        '../dao',
                        '../dao/generated',
                        '../dao/querier',
                        '../dao/object',
                        'controller',
                        'controller/generic',
                        'controller/good',
                        'controller/trip',
                        'controller/user',
                        'controller/message',
                        'validator',
                        'validator/user',
                        'validator/message'
                      );

// 
$db_host = '127.0.0.1';
$db_user = 'root';
$db_pass = 'Langara2';
$db_sche = 'airlol';

//
$log_level = 4;
$log_file = '/var/log/airlol/application.log';
$database_log = '/var/log/airlol/database.log';

//
$db_cache_on = 1;
$db_cache_time = 900;
$db_cache_servers = array('127.0.0.1' => '11211');

//
$cache_time = 900;
$cache_servers = array('127.0.0.1' => '11211');

//
$mandrill_key = 'L3-5JzVHdN-6sBUa8I1_Xg';
?>